@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital@0;1&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch+Sans:wght@100;200;300;400;500&family=Work+Sans&display=swap');
/*font-family: 'Work Sans', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.container{
    margin: 3.5rem auto;
    width: calc(100% - 244px);
    text-align: center;
    font-family: 'Work Sans';
}
/* Article start  */
.writing{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    justify-content: center;
}
.writing .title{
    font-style: normal;
    font-weight: 400;
    font-size: 2.9rem;
    line-height: 4vw;
    text-align: left;
    color: #333333;
    margin-bottom: 2rem;

} 
.info{
    margin-top: 7vw;
    margin-left: 8vw;
    
} 
.add{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: left;
    margin-bottom: 2rem;
    color: #333333;
} 
.google, .ios{
    width: 9.5rem;
    height: auto;

}
.stores{
    text-align: left;
} 
.article_title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3.1rem;
    text-align: center;
    margin-top: 5vw;
    color: #333333;
}
.card{
    width: 18rem;
    height: 21.25rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px #B7B7B7;
    border-radius: 0px;
}
.cards{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.icon{
    width: 5rem;
    height: 5rem;
}
.lent{
    margin-top: 0;
    width: 100%;
    height: .75rem;
}
.blue{
    background-color: #582EFF;
}
.orange{
    background-color: #FF814A;;
}
.green{
    background-color: #31C5A1;
}
.img_2{
    margin-top: 2.3rem;
    margin-bottom: 3rem;
}
.card_title{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #333333;
    margin-bottom: 2rem;
}
.card_info{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #333333;
    text-align: center;
    line-height: 1.5rem; 
}

@media screen and ( min-width: 767px) and (max-width: 1200px){
     .container{
        width: calc(100% - 144px);
    }
     *{
         font-size: 12px;
     }
     .img_1{
        width: 25rem;
        height: auto;
    }
}
@media screen and (min-width: 319px) and (max-width: 767px){
    *{
        font-size: 10px;
    }
    .right{
        margin-top: 5vw;
    }
    .left{
        margin-top: 3vw;
    }
    .writing .title{
        line-height: 5.5vw;
    }
    .container{
        width: calc(100% - 100px);
    }
    .left, .right{
        width: 100%;
    }
    .writing{
        flex-direction: column-reverse;
    }
    .img_1{
        width: 25rem;
        height: auto;
    }
    .cards{
        flex-direction: column;
    }
    .icon{
        transform: rotate(90deg);
        }
}
/* Article end */

